html {
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

.CB12-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.ESE-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bleu{
  color:rgba(22, 81, 190, 1);
}
.bleuclaire{
  color: rgba(200, 229, 248, 1);
}