*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "B612", sans-serif;
    text-decoration:none;
    color: #0C012A;
}
body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 20px;
    background-color: #0C012A;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 30%;
}
nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#ulnav{
    list-style-type: none;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hero{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: #C8E5F8;
}
.heroImg{
    width: 50%;
    height: 100%;
    min-height: 20vh;
    max-height: 20vh;
}
.heroAccueill{
    width: 50%;
    height: 100%;
    min-height: 60vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#mission{
    text-align: center;
    margin-left: 10%;
    width: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.problems{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}
#divcard{
    display: flex;
    flex-direction: row;
}
.problemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.problemCard img{
    width: 50%;
    height: 50%;
}
